config
router bgp {{ asn }}
address-family ipv4 unicast
no nei {{ neig }} filter-list 66 in
no nei {{ neig }} filter-list 66 out
exit
wr
sh ip bgp neighbors {{ neig }} received-routes
sh ip bgp neighbors {{ neig }} advertised-routes
