config
router bgp {{ asn }}
{% if peer_template  == "none" or peer_template|length == 0 %}
neighbor {{ neig }}
{% else %}
template peer {{ peer_template }}
{% endif %}
address-family ipv4 unicast
filter-list 66 in
filter-list 66 out
exit
wr
sh ip bgp neighbors {{ neig }} received-routes | last 3
sh ip bgp neighbors {{ neig }} advertised-routes | last 8
